*,
::after,    
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(0, 0, 0);
    --secondary: #ffffff;
    --alternative: #fbf7f2;
}
/* Navbar & Footer */
:is(.navbar, footer) {
    background-color: var(--secondary);
}

/* navbar */
img[alt="logo"] {
    width: 6rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    object-position: center;
    border: var(--alternative);
}

a {
    transition: all .6s;

    &:hover {
        transform: scale(1.2);
        text-decoration: solid;
    }
}
:is(.nav-link) {
    color: var(--primary);
    width: fit-content;
}
