@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
*,
::after,    
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(0, 0, 0);
    --secondary: #ffffff;
    --alternative: #ffdecf;
    --awesome: #fbf7f2;
}
/* Navbar & Footer */
:is(.navbar, footer) {
    background-color: var(--awesome);
    position: sticky;
    top: 0;
}

/* navbar */
img[alt="logo"] {
    width: 6rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    object-position: center;
    border: var(--alternative);
    box-shadow: black 3rem;
}

a {
    transition: all .6s;

    &:hover {
        transform: scale(1.2);
        text-decoration: solid;
        color: var(--secondary);
        background-color: var(--alternative);
        border-radius: 10%;
    }
}
:is(.nav-link) {
    color: var(--primary);
    width: fit-content;
}

/* Layout */
:is(body) {
    display: grid;
    text-align: center;
    background-color: var(--alternative);
}

/* Create rows */
:is(body) {
    grid-template-rows: auto minmax(100%, 100dvh) auto;
}

/* Profile */
img[alt="profile"] {
    width: 30rem;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
:is(#heading-erin) {
    font-family: "Italiana", sans-serif;;
}
